.App {
  min-height: 100vh;
  min-width: 100vh;
  background-color: black;
  color: yellow;
}

.header-modify {
  font-family: fantasy;
  font-size: 50px;
}

.star-wars-effect {
  font-size: 30px;
  transform: perspective(300px) rotateX(30deg);
}

.table-header {
  font-size: 30px;
}

.btn-modify {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
