.App {
  background-image: url("./images/background_img.jpg");
  position: fixed;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: yellow;
}

.star-wars-body {
  width: 95vw;
  height: 100vh;
  overflow: auto;
}

.search-width {
  width: 70vw;
}

.header-modify {
  font-family: fantasy;
  font-size: 40px;
}

.table-header {
  font-size: 30px;
}

.btn-modify {
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 480px) {
  .table-header {
    font-size: 20px;
  }
}
